.wayne-button {
  background: #f4f4f4;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 2px;
  height: 34px;
  padding: 6px 12px;
  margin: 0;
  outline: none;
  font-size: 14px;
  color: #999;
  text-align: center;
  letter-spacing: 1px;
  line-height: 20px;
  outline: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.active {
    color:#3c8dbc;
    border: 1px solid #3c8dbc;
  }

  &.no-border {
    border: none !important;
  }

  &.text {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0 8px;
    color: #3c8dbc;

    &:hover {
      color: #367fa9;
    }
  }

  &.primary {
    background:#3c8dbc;
    border: #367fa9;
    color: #ffffff;
    &:hover {
      background: #367fa9;
      color: ffffff;
    }

    &:active, &.active {
      background: #367fa9;
      color: #ffffff;
    }    
  }

  &.default {
    background: #eaeaea;
    border: none;
    color: #999;
  }

  &.normal {
    background:#3c8dbc;
    border: #367fa9;
    color: #ffffff;
    &:hover {
      background: #367fa9;
      color: ffffff;
    }

    &:active, &.active {
      background: #367fa9;
      color: #ffffff;
    }
  }
  &.error {
    background: #ffffff;
    border-color: #FF3434;
    color: #FF3434;

    &:hover {
      background: #FF3434;
      color: #fff;
    }

    &:active, &.active {
      background: #FF3434;
      color: #fff;
    }
  }

  &.invalid {
    background: #ffffff;
    color: #999999;
    border-color: #999999;

    &:hover {
      background: #999999;
      color: #fff;
    }

    &:active, &.active {
      background: #999999;
      color: #fff;
    }
  }
}
