:host {
  display: inline-block;
  height: 30px;
  position: relative;

  .item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
  }

  .content {
    position: absolute;
    z-index: 999;
    top: 60px;
    background: #3c8dbc;
    border-style: solid;
    border-color:#ffffff;
    border-width:1px;
    overflow: hidden;
    min-width: 110px;

    .scrollContent {
      padding: 20px;
      overflow-y: scroll;
    }

    .scrollBar {
      position: absolute;
      right: 0;
      top: 0px;
      width: 5px;
      height: 50px;
      background: #ccc;
      border-radius: 5px;
    }
  }
}
